body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cardsplitter {
  border: 1px solid black;
  /*border-right-style: solid;*/
}
